* {
    box-sizing: border-box;
  }
  
  @font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
      url('../fonts/Roboto-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.woff2') format('woff2'),
      url('../fonts/Roboto-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Black.woff2') format('woff2'),
      url('../fonts/Roboto-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }
  
  body {
    background-image: url('..//img/wallpaper.jpg');
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #fff;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  ul {
    list-style-type: none;
  }
  
  .wrapper {
    overflow:hidden;
    position: relative;
    width: 1280px;
    height: 3300px;
    margin: 0 auto;
  }
  
  .header {
    background-color: #131313;
    position: absolute;
    top: 0;
    left: 0;
    width: 1280px;
    height: 80px;
    z-index: 99;
  }
  
  .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
  }
  
  .header__logo img {
    width: 165px;
    height: 55px;
    margin-left: 10px;
  }
  
  .header__logo-text {
    font-size: 50px;
    font-weight: 700;
    margin-left: 150px;
  }
  
  .nav__list {
    display: flex;
    column-gap: 30px;
  }
  
  .nav__item {
    padding: 10px 15px;
    border-radius: 20px;
    transition: background-color 0.3s ease-in-out;
  }
  
  .nav__item--active,
  .nav__item:hover {
    background-color: rgba(123, 188, 199, 0.336);
  }
  
  .nav__link {
    font-weight: 700;
  }

  .promo {
    background-image: url('..//img/Catalog/Fon.jfif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 1280px;
    height: 3000px;
    position: relative;
  }
  .nav_page{
    position: absolute;
    display: inline-block;
  }
  .model{
    display:inline-block;
    position: relative;
    left:300px; top: -500px;
  }
  .model img{
    position: relative;
    width: 300px;
    height: 140px;
    top: 5px;
  }
  .nameModel{
    position: relative;
    top: 70px;
    text-align: left;
    font-family:Sansation_Regular;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    color: #000000;
  }
  .price{
    position: relative;
    top: 40px;
    font-size: 20px;
    display: flex;
    color: #000000;
  }
  .more{
    position: relative;
    top: 0px; left: 100px;
    background: black;
    color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100px;
    height: 40px;
    transform: scale(1,1);
  }
  .more:hover{
    transform: scale(0.96);
  }
.none{
  display: block;
}

.promo .content{
  justify-content: space-between;
}
.content{
  position: relative;
  top: 150px; left: 50px;
  color: #000000;
  
}
.content .list{
  display: flex;
  flex-direction: column;
}
.content .list label{
  height: 35px;
  font-size: 22px;
  font-weight: 50;
  border-bottom: 2px solid black;
  width: 200px;
  padding-bottom: 5px;
  cursor: pointer;
  margin:5px 0;
}
.content .list label:hover{
  width: 220px;
  transition:all 0.4s ease-in-out;
  border-bottom: 2px solid black;
}
.content .indicator{
  position: absolute;
  width: 220px;
  height: 45px;
  top: -5px;
  left: 0;
  width: 200px;
  transition:all 0.4s ease-in-out;
}
#home:checked ~ .list .indicator{
  top: -5px;
  background: rgba(0, 0, 0, 0.1);
}
#e-tronGT:checked ~ .list .indicator{
  top: 40px;
  background: rgba(0, 0, 0, 0.1);
}
#e-tron:checked ~ .list .indicator{
  top: 85px;
  background: rgba(0, 0, 0, 0.1);
}
#Audi_A:checked ~ .list .indicator{
  top: 130px;
  background: rgba(0, 0, 0, 0.1);
}
#Audi_Q:checked ~ .list .indicator{
  top: 175px;
  background: rgba(0, 0, 0, 0.1);
}
#Audi_S:checked ~ .list .indicator{
  top: 220px;
  background: rgba(0, 0, 0, 0.1);
}
#Audi_SQ:checked ~ .list .indicator{
  top: 265px;
  background: rgba(0, 0, 0, 0.1);
}
#Audi_RS:checked ~ .list .indicator{
  top: 310px;
  background: rgba(0, 0, 0, 0.1);
}
#ALL_Cars:checked ~ .list .indicator{
  top: 355px;
  background: rgba(0, 0, 0, 0.1);
}

.promo input[type="radio"]{
  display: none;
}
.promo .content .car_product{
  display: flex;
}
.promo .car_product .product{
  display: none;
}
.promo .car_product .home{
  display: block;
}
#home:checked ~ .car_product .home,
#e-tronGT:checked ~ .car_product .e-tronGT,
#e-tron:checked ~ .car_product .e-tron,
#Audi_A:checked ~ .car_product .Audi_A,
#Audi_Q:checked ~ .car_product .Audi_Q,
#Audi_S:checked ~ .car_product .Audi_S,
#Audi_SQ:checked ~ .car_product .Audi_SQ,
#Audi_RS:checked ~ .car_product .Audi_RS,
#ALL_Cars:checked ~ .car_product .ALL_Cars{
  display: block;
}
#home:checked ~ .car_product .home,
#e-tronGT:checked ~ .car_product .home,
#e-tron:checked ~ .car_product .home,
#Audi_A:checked ~ .car_product .home,
#Audi_Q:checked ~ .car_product .home,
#Audi_S:checked ~ .car_product .home,
#Audi_SQ:checked ~ .car_product .home,
#Audi_RS:checked ~ .car_product .home,
#ALL_Cars:checked ~ .car_product .home{
  display: none;
}
.colorR{
  color: red;
}

/* Catalog2.0 */