*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    border: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  @font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
      url('../fonts/Roboto-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.woff2') format('woff2'),
      url('../fonts/Roboto-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Black.woff2') format('woff2'),
      url('../fonts/Roboto-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }
  html,
  body {
    background-image: url('..//img/wallpaper.jpg');
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    height: 100%;
    color: #fff;
  }
  body.lock{
    overflow: hidden;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
  
  ul {
    list-style-type: none;
  }
  
  .wrapper {
    overflow:hidden;
    position: relative;
    width: 100%;
    height: 3300px;
    margin: 0 auto;
  }
  
  .header {
    background-color: #131313;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    z-index: 99;
  }
  
  .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
  }
  
  .header__logo img {
    width: 165px;
    height: 55px;
    margin-left: 10px;
  }
  
  .header__logo-text {
    font-size: 50px;
    font-weight: 700;
    margin-left: 150px;
  }
  
  .nav__list {
    display: flex;
    column-gap: 30px;
  }
  
  .nav__item {
    padding: 10px 15px;
    border-radius: 20px;
    transition: background-color 0.3s ease-in-out;
  }
  
  .nav__item--active,
  .nav__item:hover {
    background-color: rgba(123, 188, 199, 0.336);
  }
  
  .nav__link {
    font-weight: 700;
  }

  .promo {
    background-image: url('..//img/Catalog/Fon.jfif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 3450px;
    position: relative;
  }
  .nav_page{
    position: absolute;
    display: inline-block;
  }
  .model{
    display:inline-block;
    position: relative;
    left:300px; top: -500px;
    padding: 50px;
  }
  .model img{
    position: relative;
    width: 300px;
    height: 140px;
    top: 5px;
  }
  .nameModel{
    position: relative;
    top: 25px;
    text-align: left;
    font-family:Sansation_Regular;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    color: #000000;
  }
  .price{
    position: relative;
    top: 25px;
    font-size: 20px;
    display: flex;
    color: #000000;
  }
  .more{
    display: inline-block;
    transform: scale(1,1);
  }
  .more:hover{
    transform: scale(0.98);
  }
  .order{
    position: relative;
    top: 0px; left: 80px;
    background: black;
    color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 150px;
    height: 40px;
    transform: scale(1,1);
    padding: 10px 10px 10px 10px;
  }
  .order:hover{
    transform: scale(0.96);
  }
.none{
  display: block;
}

.promo .content{
  justify-content: space-between;
}
.content{
  position: relative;
  top: 150px; left: 50px;
  color: #000000;
  
}
.content .list{
  display: flex;
  flex-direction: column;
}
.content .list label{
  height: 35px;
  font-size: 22px;
  font-weight: 50;
  border-bottom: 2px solid black;
  width: 200px;
  padding-bottom: 5px;
  cursor: pointer;
  margin:5px 0;
}
.content .list label:hover{
  width: 220px;
  transition:all 0.4s ease-in-out;
  border-bottom: 2px solid black;
}
.content .indicator{
  position: absolute;
  width: 220px;
  height: 45px;
  top: -5px;
  left: 0;
  width: 200px;
  transition:all 0.4s ease-in-out;
}
#home:checked ~ .list .indicator{
  top: -5px;
  background: rgba(0, 0, 0, 0.1);
}
#e-tronGT:checked ~ .list .indicator{
  top: 40px;
  background: rgba(0, 0, 0, 0.1);
}
#e-tron:checked ~ .list .indicator{
  top: 85px;
  background: rgba(0, 0, 0, 0.1);
}
#Audi_A:checked ~ .list .indicator{
  top: 130px;
  background: rgba(0, 0, 0, 0.1);
}
#Audi_Q:checked ~ .list .indicator{
  top: 175px;
  background: rgba(0, 0, 0, 0.1);
}
#Audi_S:checked ~ .list .indicator{
  top: 220px;
  background: rgba(0, 0, 0, 0.1);
}
#Audi_SQ:checked ~ .list .indicator{
  top: 265px;
  background: rgba(0, 0, 0, 0.1);
}
#Audi_RS:checked ~ .list .indicator{
  top: 310px;
  background: rgba(0, 0, 0, 0.1);
}
#ALL_Cars:checked ~ .list .indicator{
  top: 355px;
  background: rgba(0, 0, 0, 0.1);
}

.promo input[type="radio"]{
  display: none;
}
.promo .content .car_product{
  display: flex;
}
.promo .car_product .product{
  display: none;
}
.promo .car_product .home{
  display: block;
}
#home:checked ~ .car_product .home,
#e-tronGT:checked ~ .car_product .e-tronGT,
#e-tron:checked ~ .car_product .e-tron,
#Audi_A:checked ~ .car_product .Audi_A,
#Audi_Q:checked ~ .car_product .Audi_Q,
#Audi_S:checked ~ .car_product .Audi_S,
#Audi_SQ:checked ~ .car_product .Audi_SQ,
#Audi_RS:checked ~ .car_product .Audi_RS,
#ALL_Cars:checked ~ .car_product .ALL_Cars{
  display: block;
}
#home:checked ~ .car_product .home,
#e-tronGT:checked ~ .car_product .home,
#e-tron:checked ~ .car_product .home,
#Audi_A:checked ~ .car_product .home,
#Audi_Q:checked ~ .car_product .home,
#Audi_S:checked ~ .car_product .home,
#Audi_SQ:checked ~ .car_product .home,
#Audi_RS:checked ~ .car_product .home,
#ALL_Cars:checked ~ .car_product .home{
  display: none;
}
.colorR{
  color: red;
}

/* Catalog2.0 */


/* Випадаюче вікно */


.popup{
  position:fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0; left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.8s ease 0s;
}
.popup.open {
  opacity: 1;
  visibility: visible;
}
.popup.open .popup__content {
  transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
  opacity: 1;
}

.popup__body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center; 
  padding: 30px 10px;
  transition: all 0.8s ease 0s;
}
.popup__content{
  background-color: rgb(160, 160, 160);
  border-radius: 10px;
  color: #000000;
  width: 800px;
  max-width: 800px;
  padding: 30px; 
  position: relative;
  transition: all 0.8s ease 0s;
  opacity: 0;
  top: 70px;
  transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
}
.popup__close{
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 20px;
  color: #000000;
  text-decoration: none;
}
.form{
  max-width: 550px;
  margin: 0px auto;
  color: #000;
  padding: 30px 0;
}
.form *{
  outline:none;
}
.form__body{
  position: relative;
}
.form__body::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:rgba(51, 51, 51, 0.1) url(/img/Catalog/ZZ5H.gif) center / 50px no-repeat;
  opacity: 0;
  visibility: hidden;
}
.form__body._sending::after{
  opacity: 1;
  visibility: visible;
}
.form__item{
  margin: 0px 0px 20px 0px;
}
.form__label{
  font-size: 18px;
  display: block;
  margin: 0px 0px 10px 0px;
}
.form__title{
  font-size: 40px;
  margin: 0px 0px 1em 0px;
  text-align: center;
}
.form__input{
  height: 50px;
  padding: 0 20px;
  border-radius: 5px;
  width: 100%;
  font-size: 18px;
  transition: all 0.5s ease 0s;
}
.form__input:focus{
  box-shadow: 0 0 15px #7a956b;
}
.form__input._error{
  box-shadow: 0 0 15px red;
}
textarea.form__input{
  min-height: 120px;
  resize: vertical;
  padding: 20px;
}
.options{
  padding: 10px 0px 0px 0px;
}
.options__item{
  margin: 0px 0px 10px 0px;
}
.options__input{
  display: none;
} 
.options__input:checked + .options__label::after{
  transform: scale(1);
}
 .options__label{
  display: inline-flex;
  font-size: 16px;
  line-height: 140%;
  align-items: center;
  position: relative;
  width: 100%;
}
.options__label::before{
  content: " ";
  align-self: flex-start;
  flex: 0 0 24px;
  height: 24px;
  background-color: #fff;
  border-radius: 50%;
  margin: 0px 10px 0px 0px;
}
.options__label::after{
  transition: transform 0.3s ease 0s;
  content: "";
  position: absolute;
  top: 500px;
  top: 4px;
  left: 4px;
  width: 16px;
  height: 16px;
  background-color: #7a956b;
  border-radius: 50%;
  transform: scale(0);
}
.checkbox._error .checkbox__label::before{
  box-shadow: 0 0 15px red;
}
.checkbox__input{
  display: none;
}
.checkbox__input:checked + .checkbox__label::after{
  transform: scale(1);
}
.checkbox__label{
  font-size: 16px;
  line-height: 140%;
  display: inline-flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  width: 100%;
}
.checkbox__label::before{
  content: "";
  align-self: flex-start;
  flex: 0 0 24px;
  height: 24px;
  background-color: #fff;
  border-radius: 4px;
  margin: 0px 10px 0px 0px;
}
.checkbox__label::after{
  transition: transform 0.5s ease 0s;
  content: "";
  width: 16px;
  position: absolute;
  height: 16px;
  top: 4px;
  left: 4px;
  background-color: #7a956b;
  border-radius: 4px;
  transform: scale(0);
}
.form__button{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60px;
  background-color: #7a956b;
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: 0 5px 0 #161b13;
  transition: background-color 0.5s ease 0s;
  position: relative;
  top:0;
}
.form__button:hover{
  background-color: #4f6146;
}
.form__button:active{
  top: 3px;
  box-shadow: 0 2px 0 #161b13;
}