* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
    url('../fonts/Roboto-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold.woff2') format('woff2'),
    url('../fonts/Roboto-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Black.woff2') format('woff2'),
    url('../fonts/Roboto-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

body {
  background-image: url('..//img/wallpaper.jpg');
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #fff;
  
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

.wrapper {
  overflow:hidden;
  position: relative;
  width: 1280px;
  height: 3400px;
  margin: 0 auto;
}

.header {
  background-color: #131313;
  position: absolute;
  top: 0;
  left: 0;
  width: 1280px;
  height: 80px;
  z-index: 99;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
}

.header__logo img {
  width: 165px;
  height: 55px;
  margin-left: 10px;
}

.header__logo-text {
  font-size: 50px;
  font-weight: 700;
  margin-left: 150px;
}

.nav__list {
  display: flex;
  column-gap: 30px;
}

.nav__item {
  padding: 10px 15px;
  border-radius: 20px;
  transition: background-color 0.3s ease-in-out;
}

.nav__item--active,
.nav__item:hover {
  background-color: rgba(123, 188, 199, 0.336);
}

.nav__link {
  font-weight: 700;
}

.promo {
  background-image: url('../img/Contacts/Fon_contacts.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 1280px;
  height: 1400px;
  position: relative;
}

.promo::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 1280px;
  height: 1400px;
  background-color: rgba(0, 0, 0, 0.5);
}
.promo__container {
  padding-top: 300px;
  position: relative;
  margin: auto 150px;
}
   


.Comand{
  position: relative;
  display: table;
}

.PersonImg{
  width: 166px;
  height: 165px;
  border-radius: 50px;
  position: absolute;
  top: 5px;
  left: 97px;
}
div.BlackSquare{
    width: 100%;
    height: 328px;
    background-color: black;
    position: relative;
    top: 36px;
}
div.GreySquare{
  width: 100%;
  height: 100px;
  background-color: #292929;
  position: absolute;
  top: 266px;
}
.Person, .possition{
  position: relative;
  top: 134px;
  left: 45px;
} 
.Person{
  position: relative;
  width: 360px;
  height: 367px;
  padding: 0;
  margin: 0px 0px 0px 28px;
  display: inline-block;
} 

.Person h1 {
position: absolute;
left: 97px;
top: 180px;
width: 165px;
/* height: 55px; */
font-family: Prompt;
font-style: normal;
font-weight: normal;
font-size: 24px;
/* line-height: 28px; */
text-align: center;
color: #FFFFFF;
}
.Person p{
  position: absolute;
  top: 245px;
  left: 20px;
  width: 136px;
  font-family: Prompt;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  /* line-height: 36px; */
  text-align: center;
  color: #FFFFFF;
}
/*Стилізуєм іконки для Учасників*/
.nav-social-person{
  background-color: rgba(196, 196, 196, 0.2);
  border-radius: 10em;
  display: inline-block;
  position: absolute;
  top: 270px; left: 186px;
  padding: 2px 12px 3px;
}
.nav-social__item_person{
  display: inline-block;
  margin: 0 3px;
}
.nav-social__item_person img{
  width: 60px;
  height: 60px;
  opacity: 0.75;
  transition: opacity var(--transition);
}
.nav-social__item_person:hover img{
  opacity: 0.1;
}
/*Стилізуєм іконкі*/
.nav-social-wrap{
    text-align: center;
}
.nav-social{
    background-color: rgba(196, 196, 196, 0.2);
    border-radius: 10em;
    display: inline-block;
    position: relative;
    top: -70px; left: 30px;
    padding: 2px 12px 3px;
}
.nav-social__item{
    display: inline-block;
    margin: 0 3px;
}
.nav-social__item img{
    width: 60px;
    height: 40px;
    opacity: 0.75;
    transition: opacity var(--transition);
}
.nav-social__item:hover img{
    opacity: 0.1;
}